{% extends 'index.html' %}

{% load static %}

{% block body %}

    <body>
        
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                        <img class="w-100 img-fluid mb-4" src="{% static  'img/Esther Profile.jpeg' %}" alt="Image">
                        <h1 class="text-primary mt-2" style="font-family: 'Lucida Handwriting'; font-size: 40px;">Esther Bwari</h1>
                        <div class="mb-4" style="height: 22px;">
                            <h4 class="typed-text-output d-inline-block text-light"></h4>
                            <div class="typed-text d-none">Web Designer, Web Developer, Cloud Practitioner, Presentation Designer</div>
                        </div>
                        <div class="d-flex justify-content-center mt-auto mb-3">
                            <a class="btn btn-secondary btn-square mx-1" href="https://github.com/Bwari352"><i class="fab fa-github"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="https://www.linkedin.com/in/esther-bwari-797b73261/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-secondary btn-square mx-1" href="https://www.instagram.com/esstaaaar?igsh=Y2w2d2tibG03Y3R4"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="d-flex align-items-end justify-content-between border-top">
                            <a href="/media/CV%20ESTHER%20BWARI%2033.pdf" class="btn w-50 border-end"  download="CV ESTHER BWARI 33.pdf">Download CV</a>
                            <a href="#contact" class="btn w-50 btn-scroll">Contact Me</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
          
                    <!-- Skills Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Skills</h1>
                        <div class="row g-4">
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-2x fa-laptop-code mx-auto mb-4"></i>
                                    <h5 class="mb-2">Web Design & Development</h5>
                                    <p class="mb-0"> Having mastered the Django framework it has empowered me to translate my web design ideas directly into aesthetically appealing functional websites.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fab fa-2x fa-android mx-auto mb-4"></i>
                                    <h5 class="mb-2">Cloud Practitioning</h5>
                                    <p class="mb-0">I've developed a strong foundation in cloud computing through hands-on experience with core AWS services and essential cloud concepts</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-2x fa-search mx-auto mb-4"></i>
                                    <h5 class="mb-2">Presentation Designing</h5>
                                    <p class="mb-0">I've independently developed a strong proficiency in PowerPoint, 
                                        enabling me to design clear, engaging and professional visual content. 
                                        </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-2x fa-edit mx-auto mb-4"></i>
                                    <h5 class="mb-2">AI Graphic Designing</h5>
                                    <p class="mb-0">I possess foundational skills in AI graphics design, leveraging tools like Midjourney and  generate visual concepts and unique imagery.
                                   </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Skills End -->

                    <!-- Projects Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Projects</h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 text-center mb-2">
                                        <ul class="list-inline mb-4" id="portfolio-flters">
                                            <li class="btn btn-secondary active"  data-filter="*"><i class="fa fa-star me-2"></i>All</li>
                                            <li class="btn btn-secondary" data-filter=".first"><i class="fa fa-laptop-code me-2"></i>Design</li>
                                            <li class="btn btn-secondary" data-filter=".second"><i class="fa fa-mobile-alt me-2"></i>Development</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row portfolio-container cards-container">
                                    <div class="col-md-6 mb-4 portfolio-item first">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="{% static 'img/web1.png' %}" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="{% static 'img/website1.png' %}" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4 portfolio-item second">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="{% static 'img/insurance1.png' %}" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="{% static 'img/insu1.png' %}" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 portfolio-item first">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="{% static 'img/pp1.png' %}" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="{% static 'img/pp.png' %}" data-lightbox="portfolio">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 portfolio-item second">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <img class="img-fluid w-100" src="{% static 'img/Kids book fair (1).jpg' %}" alt="">
                                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                                <a href="{% static 'img/Kids book fair (1).jpg' %}" data-lightbox="portfolio" style="background-size: 40px">
                                                    <i class="bi bi-plus text-light"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Projects End -->

                    <!-- Education Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Education</h1>
                        <div class="owl-carousel testimonial-carousel">
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">An investment in knowledge pays the best interest. – Benjamin Franklin</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{% static 'img/OIP (2).jpg' %}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Web Development</p>
                                        <i>eMobilis Institute</i>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">Education is the most powerful weapon which you can use to change the world." - Nelson Mandela</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{% static 'img/KCA.jpg' %}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Bachelors of science in ICT</p>
                                        <i>KCA University</i>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">"Tell me and I forget. Teach me and I remember. Involve me and I learn." - Benjamin Franklin</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{% static 'img/OIP (2).jpg' %}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">Cloud Computing</p>
                                        <i>eMobilis Institute /AWS</i>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-4 mb-4">"Tell me and I forget. Teach me and I remember. Involve me and I learn." - Benjamin Franklin</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{% static 'img/ajira.jpg' %}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-2"   >Online Accredations - Basic AI Graphic Design</p>
                                        <i>Ajira Training</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Education End -->

                    <!-- Contact Start -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                        <h1 class="title pb-3 mb-5">Contact Me</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0 bg-secondary" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0 bg-secondary" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0 bg-secondary" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control border-0 bg-secondary" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- Contact End -->

                    
                </div>
            </div>
        </div>

        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/typed/typed.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
    
{% endblock %}

